<html>
	<head>
		<title>Opus|the books you love</title>
	</head>
	<body>
	<h2>Join in</h2>
	<form action="/signup" method="post">
		<div>
		        <label>Email:</label>
		        <input type="text" name="email"/>
		    </div>
		    <div>
		        <label>Password:</label>
		        <input type="password" name="password"/>
		    </div>
		    <div>
		        <input type="submit" value="Sign Up"/>
		    </div>
	</form>
	</body>
</html>