<div class="row">
<div class="col-sm-3">
  <div class="well">
	<h3><i class="fa fa-child fa-lg"></i> <a href="#/">Children's Book</a></h3>
	 
  </div>
</div>
<div class="col-sm-3">
  <div class="well">
	<h3><i class="fa fa-hourglass-start fa-lg"></i> <a href="#/">History</a></h3>
 
  </div>
</div>
<div class="col-sm-3">
  <div class="well">
	<h3><i class="fa fa-heart fa-lg"></i> <a href="#/">Romance</a></h3>
	 
  </div>
</div>
<div class="col-sm-3">
  <div class="well">
	<h3><i class="fa fa-pied-piper-alt fa-lg"></i> <a href="#/">Fiction</a></i></h3>
	 
  </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
  <div class="well">
	<h3><i class="fa fa-glass fa-lg"></i> <a href="#/">Cook Books</a></h3>
	 	 
  </div>
</div>
<div class="col-sm-4">
  <div class="well">
	<h3><i class="fa fa-female fa-lg"></i><i class="fa fa-male fa-lg"></i> <a href="#/">Teens and Young</a></h3>
	
  </div>
</div>
<div class="col-sm-4">
  <div class="well">
	  <h3><i class="fa fa-user-secret fa-lg"></i>  <a href="#/">Mystery and Suspense</a></h3>

  </div>
</div>
</div>
<div class="row">
<div class="col-sm-8">
  <div class="well">
	 <h3><i class="fa fa-bookmark fa-lg"></i> New Release</h3>
	  <ul>
		  <h5><a href="#/">Trieze Raisons <i class="fa fa-book"></i></a></h5>
	  	  <h5><a href="#/">The Beautifull Theif <i class="fa fa-book"></i></a></h5>
	      <h5><a href="#/">Veronica Decides To Die <i class="fa fa-book"></i></a></h5>
	      <h5><a href="#/">Manuscript Found In Accra <i class="fa fa-book"></i></a></h5>
	  </ul>
  </div>
</div>
	<div class="col-sm-4">
		  <div class="well">
			  <h3><i class="fa fa-gift fa-lg"></i> Offers</h3>
			  <h4>Discounts!!!</h4>
			  <h4>Buy 3 Get 1!!!!</h4>
			<p></p> 
		  </div>
	</div>
</div>

