

    <div class="container">
      
    <div class="container-fluid">
		  <div class="row content">
		  	<h2><button type="button" class="btn btn-success">Sign In</button></h2>
				  <div class="col-sm-4 sidenav">
						<div class="panel panel-default">
								  <div class="panel-body">
										<form class="form" role="form">
										  <div class="form-group">
											<label class="sr-only" for="email">Email:</label>
											<input type="email" class="form-control" id="email" placeholder="Enter email">
										  </div>
										  <div class="form-group">
											<label class="sr-only" for="pwd">Password:</label>
											<input type="password" class="form-control" id="pwd" placeholder="Enter password">
											<a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Forgot Password</a>
										  </div>
										  <div class="checkbox">
											<label><input type="checkbox"> Remember me</label>
										  </div>
										</form>
								  </div>
						</div>
				  </div>

					<div class="col-sm-6">
					 <img src="/img/aa.jpg" class="img-thumnail" width="150" height="150">
					 <img src="/img/a.jpg" class="img-thumnail" width="150" height="150">
					 <img src="/img/aaa.jpg" class="img-thumnail" width="150" height="150">
					 <img src="/img/aaaa.jpg" class="img-thumnail" width="150" height="150"> 
					 <img src="/img/b.jpg" class="img-thumnail" width="150" height="150"> 
					 <img src="/img/bb.jpg" class="img-thumnail" width="150" height="150"> 
				   </div>
				   <div class="col-sm-2">

				  </div>
		</div>
	</div>
