
<div class="container">
  	<h2>Account Settings</h2>
	
		<div class="col-sm-5">
			<h3> Order History</h3>
				 <table class="table">
    				<thead>
						  <tr>
							<th>Book Name</th>
							<th>Date</th>
						  </tr>
    				</thead>
					<tbody>
						  <tr>
							<td></td>
							<td></td>
						  </tr>
					 </tbody>
			</table>
			
		</div>
	
	<div class="col-sm-7">
		<form role="form">
			<div class="panel-body">
				<h3>Password Setting</h3>
				<table>
					<tr>
						<ul>Old Password:<input type="password"></ul>
						<ul>New Password:<input type="password"></ul>
						<ul><input type="button" value="Submit"></ul>
					</tr>
				</table>

			</div>
	</form>
		<div>
		
		
		</div>

		<div class="panel-body">
			<h3> Address Setting</h3>
			
				<ul>Country:<input type="text"></ul>
				<ul>City:<input type="text"></ul>
				<ul>Location:<input type="text"></ul>
				<ul>Contact No:<input type="digit"></ul>
		</div>
	</form>
	</div>

 </div>

